.app{
    background: #72a1bf;
    width: 100%;
    height: 1080px;
}

.searchlist{
    width: 975px;
    height: 370px;
    background: #F2FAFF 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 36px 36px;
    padding: 25px 0 0 25px;
}

.home{
    width: 1000px;
    height: 490px;
    background: #074770 0% 0% no-repeat padding-box;
    border-radius: 36px;
    opacity: 1;
    margin: 2% auto;
}

.mapview{
    flex: 0.5;
    float: right;
    width: 500px;
    height: 395px;
    background: #b2e7ff 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 36px 0px;
    margin-top: -25px;
}

.list{
    width:48%;
    flex: 0.5;
    float: left;
}

.homeBtn{
    margin: 25px 0 0 25px;
    width: 64px;
    height: 32px;
    background: #F2FAFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #A0A3A5;
}

.homeBtn:active{
    background-color: #191a66;
}

.btnRoute{
    top: 794px;
    left: 428px;
    width: 400px;
    height: 32px;
    background: #074770 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
    color: #FFFFFF;
}

.btnRoute:active{
    background-color:#FFFFFF ;
    color: #074770;
}

tr{
    text-align: center;
}
table thead th{
    width: 40%;
    margin-top: 5px;
}

.btnSubmit{
    width: 150px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 0.75;
    border: none;
    color: #074770;
    text-align: center;
    margin-left: 100px;
}

.btnSubmit:active {
    background-color: #279ce6;
    color: #FFFFFF;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px;
}

.place,.lat,.long{
    display: flex;
    flex-direction: column;
    margin:0 25px;
}

label {
    margin-bottom: 5px;
    color: white;
}
.mapbox-directions-component{
    display:none;
}
#basic1{
    margin-left: -35px;
}
svg.mapboxgl-ctrl-geocoder--icon-search{
    display: none;
}

input#basic2,
input#basic3 {
        max-width: 100px;
        height: 15px;
        border-radius: 4px;
        border: none;
        padding: 10px;
}
input#basic2::-webkit-inner-spin-button,
input#basic3::-webkit-inner-spin-button{
    display: none;
}
.map-container {
    position: absolute;
    width:500px;
    height: 395px;
    border-radius: 0px 0px 36px 0px;
    border: none;
}
  
.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 4px 8px;
    font: 10px/14px monospace;
    z-index: 1;
    position: absolute;
    margin: 12px;
    border-radius: 4px;
  }
  
  #geocoder{
      width:100%;
      text-align: center;
      top: 20px;
      z-index: 1;
  }